@model ProjectF2.Models.ListaPedidos

@{
    ViewBag.Title = "Home";
}
@Html.AntiForgeryToken()
<h2>Home</h2>

<h3>Aqui vai ter todas as opções para o lojista</h3>

<p>@Html.ActionLink("Consultar Histórico", "/HistoricoRespostas")</p>

<p>@Html.ActionLink("Editar informações", "/Editar")</p>

<p>Configurar Assinaturas</p>


@if (Model.ListagemPedidos.Count > 0)
{
    <h4>Lista de Pedidos</h4>
    <table class="table">
        <tbody>
            @foreach (var pedido in Model.ListagemPedidos)
            {
                <tr>
                    <td>@string.Format("{0:dd/MM/yyyy HH:mm}", pedido.Data)</td>
                    <td>@pedido.NomeModelo</td>
                    <td>@pedido.IndNovaMensagem</td>
                    <td>@pedido.DescricaoPedido.Substring(0, (pedido.DescricaoPedido.Length > 200 ? 200 : pedido.DescricaoPedido.Length))</td>
                    <td>@Html.ActionLink("Responder", "VerConversa", new { respostaId = pedido.RespostaId })</td>
                </tr>
            }
        </tbody>
    </table>

}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
