@model ProjectF2.Models.ListaPedidos

@{
    ViewBag.Title = "Index";
}

@Html.AntiForgeryToken()
<h2>Home</h2>

<h3>Aqui vai ter todas as opções para o cliente</h3>

<p>@Html.ActionLink("Editar informações do Usuário", "Editar")</p>

<p>@Html.ActionLink("Novo Pedido", "NovoPedido")</p>

@if (Model.ListagemPedidos.Count > 0)
{
    <h4>Lista de Pedidos</h4>
    <table class="table">
        <tbody>
            @foreach (var pedido in Model.ListagemPedidos)
            {
                <tr>
                    <td>@string.Format("{0:dd/MM/yyyy HH:mm}", pedido.Data)</td>
                    <td>@pedido.NomeModelo</td>
                    <td>@pedido.DescricaoPedido.Substring(0, (pedido.DescricaoPedido.Length>200 ? 200: pedido.DescricaoPedido.Length))</td>
                    <td>@pedido.QtRespostasRecebidas.ToString()</td>
                    <td>@pedido.QtRespostasPendentes.ToString()</td>
                    <td>@Html.ActionLink("Cancelar", "CancelarPedido", new { pedidoId = pedido.PedidoId })</td>
                    @*<td>Html.ActionLink("Mais Info", "EditarPedido", new { pedidoId = pedido.PedidoId })</td>*@
                    <td>@Html.ActionLink("Ver Respostas", "VerRespostas", new { pedidoId = pedido.PedidoId })</td>
                </tr>
            }
        </tbody>
    </table>

            }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
